{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% for L in article %}
        <li style="position:relative; left:400px;"><a href="{{ L.id }}">{{ L }}</a></li>
    {% endfor %}
    {% include 'footer.html' %}
    {% block javascritp %}{% endblock %}
</body>
</html>